  <div class="card rounded-0 text-dark fw-bold">
    <img src="" class="card-img rounded-0 opacity-50" alt="home banner gif">
    <div class="card-img-overlay">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 fw-bold">myApp Store</h1>
          <p class="lead fw-bold">Jumpstart your development and web design efforts with this website based on the
            Everyday Astronaut Shopping pages.</p>
          <a class="btn btn-warning fw-bold" routerLink="./products">Start shopping</a>
        </div>
      </div>
    </div>
  </div>
