<div class="container my-5">
  <h1 class="text-center">Login</h1>

  <!-- Error Message -->
  <div class="errorMessage mb-3" *ngIf="errorMessage">
    <p class="text-danger fw-bold">{{ errorMessage }}</p>
  </div>
  
  <form (ngSubmit)="submitLoginForm()" [formGroup]="form" autocomplete="off">

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"
        formControlName="email">
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password" >
    </div>

    <button type="submit" class="btn btn-warning">Login</button>

  </form>
</div>
