/* You can add global styles to this file, and also import other style files */
a {
    text-decoration: none;
}

/* Notifications */
.badge.notif {
    -webkit-animation: fadeinout 6s linear forwards;
    animation: fadeinout 6s linear forwards;
  }
  
  @-webkit-keyframes fadeinout {
    0%,100% { opacity: 0}
    25%,50%,75% { opacity: 1}
  }
  
  @keyframes fadeinout {
    0%,100% { opacity: 0}
    25%,50%,75% { opacity: 1}
  }
  